<!DOCTYPE html>
<html>
<head>
	<title>{{#if title}}CSC Curling | {{title}}{{else}}CSC Curling{{/if}}</title>
	<meta name="viewport" content="width=device-width">
	<link rel='stylesheet' type='text/css' href='/css/main.css'/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	{{#if serviceWorker}}<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/sw.js', {scope: '/'}).then(function (reg) {
				// registration worked
				//console.log('Registration succeeded. Scope is ' + reg.scope);
			}).catch(function (error) {
				// registration failed
				//console.log('Registration failed with ' + error);
			});
		}
	</script>{{/if}}
	<!--[if lt IE 9]>
	<META http-equiv="refresh" content="0;URL=unsupported">
	<![endif]-->
	<script src="/js/menu.js"></script>
</head>
<body>
<div id="container">
	<div id="menu">
		<ul>
			{{#each menu}}
				<li{{#if this.[1]}} class="{{concat this.[1] conj=" "}}"{{/if}}><a
						href="{{@key}}"><span>{{this.[0]}}</span></a></li>
			{{/each}}
		</ul>
	</div>
	<div id="content">
		{{#if content}}
			{{{content}}}
		{{/if}}
	</div>
	<div id="footer">
		<p>Copyright © {{#if originalYear}}{{originalYear}}{{else}}2015{{/if}}{{#if showSecondYear}}-{{year}}{{/if}} Ben Schattinger. Some rights reserved by the <a
				href="/license">license</a>.</p>
		<p><a href="/tos">Terms of Service</a> | <a href="/privacy">Privacy Policy</a></p>
	</div>
</div>
</body>
</html>